.text-columns {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 6개의 열 */
    gap: 10px; /* 열 사이 간격 */
    overflow: hidden; /* 넘치는 텍스트 숨김 */
    position: relative; /* 위치 설정 */
}

.scrolling-text1, .scrolling-text2, .scrolling-text3,
.scrolling-text4, .scrolling-text5, .scrolling-text6 {
    white-space: nowrap; /* 줄바꿈 방지 */
    overflow: hidden;
    text-overflow: ellipsis; /* 넘치는 텍스트에 말줄임표 */
    border-radius: 50px; /* 둥근 테두리 */
    font-size: 27px; /* 글자 크기 */
    padding: 15px; /* 여백 */
    text-align: center; /* 텍스트 정렬 */
    display: flex; /* flex 사용 */
    justify-content: center; /* 가운데 정렬 */
    align-items: center; /* 가운데 정렬 */
    margin: 10px; /* 간격 추가 */
    position: relative; /* 위치 설정 */
}

.scrolling-text1, .scrolling-text2, .scrolling-text3, .scrolling-text4, .scrolling-text5, .scrolling-text6 {
    background-color: #F0F0F0; /* 짝수 열 배경색 */
    color: black; /* 텍스트 색상 */
}

.scrolling-text1.blue, .scrolling-text2.blue, .scrolling-text3.blue, .scrolling-text4.blue, .scrolling-text5.blue, .scrolling-text6.blue {
    background-color: #0136DE !important;
    color: white !important;
}

/* 스크롤 애니메이션 정의 */


/* #section2 {
    background: #0136DE;
    display: flex;
    justify-content: center;
    align-items: center;
} */

#section2 {
    background-color: #0136DE;
}

.scrolling-topper1 {
    background-color: white;
    color: #0136DE;
}

.speech-bubble {
    background-color: white;
    border-radius: 50px;
}

.scrolling-topper2 {
    color: white;
}

#section3 {
    background-color: #ffffff; /* 배경색 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
}

#section3 img {
    max-width: 90%; /* 이미지 크기 조정 */
    max-height: 90%; /* 이미지 크기 조정 */
    height: auto; /* 비율 유지 */
    margin: 50px;
}

/* 음영 및 크기 설정 */
#section1,
#section2,
#section3,
#section4 {
    text-align: center;
}